@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: 'poppins';

    background: rgba(156, 237, 110, 1);
    background: conic-gradient(
      from 315deg,
      rgb(75, 189, 209),
      rgb(183, 46, 201)
    );
}
.main-page {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
  
}
.container {
    width: 80vw;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center ;

    h1 {
        text-align: center;
        font-size: 35px;
        color: white;
        @media (max-width:800px) {
            font-size: 30px;
        }
    }
}
.upper {
    display: flex;
    gap: 10px;
    margin-top: 50px;
    height: 40px;
   

    .select {
        flex:1;
        color: black;
    }
    button {
        border-radius: 10px ;
        border: none;
        padding: 5px 10px;
        box-shadow: 0 0 10px black;
    }

}

.middle {
    display: flex;
    gap: 50px;
    margin-top: 20px;

    @media (max-width:800px) {
            flex-direction: column;
            gap: 10px;
    }
    textarea {
        flex: 1;
        min-height: 300px;
        max-height: 500px;
        padding: 10px;
        font-size:17px;
        font-family: 'poppins';

      
        &:disabled {
            background-color: rgb(189, 179, 179);
            color: rgb(247, 244, 244);
        }
        .loading {
            background-image: url('https://media4.giphy.com/media/3o7bu3XilJ5BOiSGic/giphy.gif?cid=6c09b952jkzr3i0jv5c4upphydco8g82xidm8az7o2nsfge2&ep=v1_gifs_search&rid=giphy.gif&ct=g');
            background-size: contain;
            background-position: center;
        }
    }
}


#translate-btn {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px black;
}